# 7. Закрепление знаний

Вам предстоит решить настоящую бизнес-задачу: проанализировать эффективность обоих вариантов посадочной страницы сразу по двум критериям: конверсии покупки и среднему чеку. На основе проведённого анализа необходимо сделать выводы и принять решение: какой из вариантов дизайна более предпочтительный.

Итак, наша фирма предлагает следующие варианты туров и их соответствующие стоимости:

    Таиланд — 100 000 рублей;
    Турция — 60 000 рублей;
    Мальдивы — 200 000 рублей;
    Санкт-Петербург — 10 000 рублей;
    Камчатка — 150 000 рублей.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data/ab_data_tourist.csv')
data.head()

   user_id        date group  purchase   price
0   851104  2021-01-21     A         0       0
1   804228  2021-01-12     A         0       0
2   661590  2021-01-11     B         0       0
3   853541  2021-01-08     B         0       0
4   864975  2021-01-21     A         1  150000