# Домашнее задание

Используя информацию по мидиям Петербурга и Магадана, которые представлены в виде двух массивов petersburg и magadan в разделе ANOVA тест, проверьте данные на нормальность и на наличие корреляции. 
Для этого объедините 2 массива в DataFrame. 
Обоснуйте выбор теста на корреляцию. 
Сделайте вывод по гипотезе.
 
 
Также ответьте на вопрос:
Какова разница в среднем размере мидии в зависимости от города-производителя. Обоснуйте выбор теста. Сделайте вывод по гипотезе.

In [116]:
import pandas as pd #для работы с таблицами

В качестве данных возьмем информацию по размерам раковины мидий, выращенных в разных местах.

In [117]:
petersburg = [0.0974, 0.1352, 0.0817, 0.1016, 0.0968, 0.1064, 0.105]
magadan = [0.1033, 0.0915, 0.0781, 0.0685, 0.0677, 0.0697, 0.0764,
           0.0689]

### Создание dataframe

In [118]:
# создание dataframe из исходных данныхS
df_PBs = pd.DataFrame(petersburg, columns = ['PBs_size'])
df_Mag = pd.DataFrame(magadan, columns = ['Magadan_size'])

In [119]:
df = df_Mag.join(df_PBs, rsuffix= 'right', how = 'left') # объединение двух dataframe

In [120]:
display(df)

   Magadan_size  PBs_size
0        0.1033    0.0974
1        0.0915    0.1352
2        0.0781    0.0817
3        0.0685    0.1016
4        0.0677    0.0968
5        0.0697    0.1064
6        0.0764    0.1050
7        0.0689       NaN

In [133]:
#замена пропуска на среднее значение в столбце

df.fillna(df.mean())

   Magadan_size  PBs_size
0        0.1033  0.097400
1        0.0915  0.135200
2        0.0781  0.081700
3        0.0685  0.101600
4        0.0677  0.096800
5        0.0697  0.106400
6        0.0764  0.105000
7        0.0689  0.103443

## Проверка данных на нормальность

In [122]:
H0 = 'Данные распределены нормально'
Ha = 'Данные не распределены нормально (мы отвергаем H0)'

Установим уровень значимости

In [123]:
alpha = 0.05

## Тест Шапиро-Уилка

In [132]:
from scipy.stats import shapiro

In [134]:
_, p = shapiro(df)
print('p=%.3f' % p)

# Интерпретация 

if p > alpha:
	print(H0)
else:
	print(Ha)

p=1.000
Данные распределены нормально

## Тест Д’Агостино

In [135]:
from scipy.stats import normaltest

In [127]:
_, p = normaltest(df)
#normaltest возвращает двустороннюю вероятность для проверки гипотезы

print('p=%.3f' % p[0])

# Интерпретация 

if p[0] > alpha/2:
	print(H0)
else:
	print(Ha)

p=0.154
Данные распределены нормально

/home/alexandr/anaconda3/lib/python3.9/site-packages/scipy/stats/stats.py:1541: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=8
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

## Определение корелляции

Выбран метод Пирсона, так как согласно тестам на нормальность, данные распределены нормально. Соответственно, для такого распределения используется метод Пирсона.

In [136]:
df.corr() #расчет коэффециентов корелляции

              Magadan_size  PBs_size
Magadan_size      1.000000  0.255095
PBs_size          0.255095  1.000000

In [129]:
from scipy.stats import pearsonr

In [143]:
df.corr()S

              Magadan_size  PBs_size
Magadan_size      1.000000  0.255095
PBs_size          0.255095  1.000000

In [ ]:
print(corr, p)

0.24484461051559386 [0.15427618        nan]

In [ ]:
if p>alpha:
    print(f"{p} > {alpha}. Мы не можем отвергнуть нулевую гипотезу об отсутсвии зависимости между переменными.")
else:
    print(f"{p} <= {alpha}. Мы отвергаем нулевую гипотезу об отсутсвии зависимости между переменными.")

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()