# Агрегатные функции

## 1. Знакомимся с данными

В этом модуле мы познакомимся с агрегатными функциями.

И помогут нам в этом... покемоны! Как? Да очень просто!

На протяжении всего модуля мы будем работать с таблицей sql.pokemon, содержащей данные о покемонах и их характеристиках из классических видеоигр.

Давайте познакомимся с нашими покемонами и данными о них!

id 	уникальный идентификатор
name 	имя
type1 	основной тип
type2 	дополнительный тип
hp 	количество очков здоровья
attack 	показатели атаки
defense 	показатели защиты
speed 	показатели скорости

## 2. Убираем повторяющиеся значения

Для начала получим все основные типы покемонов.

SELECT
    type1
FROM sql.pokemon

Видно, что типы повторяются, потому что в результате запроса вы получаете все строки, которые подходят под заданные условия.

Чтобы получить уникальные значения из столбца, воспользуемся ключевым словом DISTINCT.

SELECT DISTINCT
    type1
FROM sql.pokemon

SELECT DISTINCT
    type1,
    type2
FROM sql.pokemon

## 3. Агрегатные функции

Кроме простых математических операций, которые мы использовали в предыдущем модуле, СУБД позволяет проводить статистические вычисления для нескольких строк.

Давайте посчитаем количество строк в таблице. Для этого применим агрегатную функцию COUNT.

SELECT
    COUNT(*)
FROM sql.pokemon

COUNT считает строки, а звёздочка (*) в аргументе функции означает, что считаются все строки, которые возвращает запрос.

Внутри функции COUNT мы можем также применять DISTINCT, чтобы вычислить количество уникальных значений.

SELECT /*выбор*/
    COUNT(DISTINCT type1) /*функция подсчёта строк; уникальные значения столбца type1*/
FROM sql.pokemon /*из таблицы sql.pokemon*/

### Основные агрегатные функции

Назовём основные агрегатные функции, с которыми нам предстоит работать:

        COUNT — вычисляет число непустых строк;
        SUM — вычисляет сумму;
        AVG — вычисляет среднее;
        MAX — вычисляет максимум;
        MIN — вычисляет минимум.

Разумеется, вы можете использовать в запросе фильтрацию строк с помощью WHERE, чтобы получить агрегированное значение только для отдельных строк.

SELECT
avg(hp)
FROM sql.pokemon
where type1 = 'Dragon' 

Кроме того, мы можем применять несколько агрегатных функций в одном запросе.

Напишите запрос, который выведет:

    количество покемонов (столбец pokemon_count);
    среднюю скорость (столбец avg_speed);
    максимальное и минимальное число очков здоровья (столбцы max_hp и min_hp)

    для электрических (Electric) покемонов, имеющих дополнительный тип и показатели атаки или защиты больше 50.

SELECT
    COUNT(*) pokemon_count,
    AVG(speed) avg_speed,
    MAX(hp) max_hp,
    MIN(hp) min_hp
FROM sql.pokemon
WHERE type1 = 'Electric'
    AND type2 IS NOT NULL
    AND (attack > 50 OR defense > 50)

## 4. Группировка

GROUP BY используется для определения групп выходных строк, к которым могут применяться агрегатные функции.

SELECT /*выбор*/
    type1 AS pokemon_type, /*столбец type1; присвоить алиас pokemon_type*/
    COUNT(*) AS pokemon_count /*подсчёт всех строк; присвоить алиас pokemon_count*/
FROM sql.pokemon /*из таблицы sql.pokemon*/
GROUP BY type1 /*группировка по столбцу type1*/
ORDER BY type1 /*сортировка по столбцу type1*/

Вывод, конечно же, можно сортировать по столбцу с агрегированием.

SELECT /*выбор*/
    type1 AS pokemon_type, /*столбец type1; присвоить алиас pokemon_type*/
    COUNT(*) AS pokemon_count /*подсчёт всех строк; присвоить алиас pokemon_count*/
FROM sql.pokemon /*из таблицы sql.pokemon*/
GROUP BY pokemon_type /*группировка по столбцу pokemon_type*/
ORDER BY COUNT(*) DESC /*сортировка в порядке убывания*/

__
Напишите запрос, который выведет:

    число различных дополнительных типов (столбец additional_types_count);
    среднее число очков здоровья (столбец avg_hp);
    сумму показателей атаки (столбец attack_sum) в разбивке по основным типам (столбец primary_type).

Отсортируйте результат по числу дополнительных типов в порядке убывания, при равенстве — по основному типу в алфавитном порядке.
Столбцы к выводу (обратите внимание на порядок!): primary_type, additional_types_count, avg_hp, attack_sum.

SELECT
   type1 primary_type,
   count(DISTINCT type2) additional_types_count,
   AVG(hp) avg_hp,
   SUM(attack) attack_sum
FROM sql.pokemon
GROUP BY primary_type
ORDER BY 2 DESC, 1

Мы можем осуществлять группировку по нескольким столбцам.

SELECT /*выбор*/
    type1 AS primary_type, /*столбец type1; присвоить алиас primary_type*/
    type2 AS additional_type, /*столбец type2; присвоить алиас additional_type*/
    COUNT(*) AS pokemon_count /*подсчёт всех строк присвоить алиас pokemon_count*/
FROM sql.pokemon /*из таблицы sql.pokemon*/
GROUP BY 1, 2 /*группировка по столбцам 1 и 2*/
ORDER BY 1, 2 NULLS FIRST /*сортировка по столбцам 1 и 2; сначала нули*/

Обратите внимание! В группировке можно указывать порядковый номер столбца так же, как мы делали это в прошлом модуле для сортировки.

## 5. Фильтрация агрегированных строк